<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">UTL String (Grid-tied) </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                        
                        <li class="breadcrumb-item text-white active" routerLink="/">Product / UTL</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">UTL String (Grid-tied) </h6>
    <h4>UTL String (Grid-tied) Solar Panel.</h4>
</div>
<div class="container-fluid banner mb-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">

                    <div class="d-flex justify-content-between text-white mb-3">
                        <!-- <img class="img-fluid" src="assets/img/cat-3.jpg" alt=""> -->


                        <p class="mb-0"> UTL Solar stands for UTL String (Grid-tied) Solar Panel System. A UTL Solar
                            panel system is a solar energy system that is connected to the electrical grid. </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-dark d-flex flex-column p-5" style="height: 230px;">
                    <p class="text-white mb-3"> UTL is a leading brand in power generation and power back-up in India.
                        The company was founded in 1996 by Yogesh Dua and Pawan Garg. UTL offers a wide range of
                        products, including inverters, battery chargers, solar charge controllers, and online and
                        offline UPS.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 230px;">

                    <div class="d-flex justify-content-between text-white mb-3">
                        <p class="text-white mb-3">This allows the system to use electricity from both the grid and the
                            solar panels.
                            A UTL Solar panel system can be an efficient and low-cost way to use solar energy.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <h6 class="section-title bg-white text-center text-primary px-3">Benefits of UTL Solar</h6>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    
    <div class="container">
        
        <div class="row g-5">
            
            <div class="col-lg-6">
                
                <div class=" mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase"></h5>
                    
                    <h2 class=" mb-0 "> &nbsp;&nbsp;&nbsp;&nbsp; Some benefits of a UTL Solar panel system:</h2>
                </div>
                
                <p class="mb-4" style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;Reduces carbon emissions
                    A UTL Solar panel system can help reduce the amount of carbon emissions your home produces.
                    Efficient
                    A UTL Solar panel system can be an efficient and low-cost way to use solar energy.
                    Sustainable
                    A UTL Solar panel system is a sustainable way to use solar energy because it doesn't require
                    rewiring or batteries.Reduces electricity bills
                    A UTL Solar panel system can help reduce your electricity bills.UTL String (Grid-tied) Solar Panel System is simply a solar energy system
                     that is connected to the electrical grid and, therefore, uses electricity from both the solar panel system and the electrical grid. 
                     UTL solar’s Off Grid Alfa+ PCU model is an integrated unit consisting of a grid charger, inverter, and MPPT solar charger. </p>

                <a routerLink="/about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">About
                    Us</a>
            </div>
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="assets/img/utl1.webp" >

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">

                <h1 class="display-5 text-white mb-4"> &nbsp;&nbsp;&nbsp;&nbsp;Why Use UTL Solar? and Types of UTL Solar Inverter.</h1>
                <p class="text-white mb-0">UTL Solar inverters are known for their advanced rMPPT technology and high efficiency.  They generate 30% more electricity than a normal solar inverter. Therefore, UTL grid-tie solar inverter is India's most preferred solar inverter.
                    UTL offers an extensive range of products including Online UPS, Offline UPS, Inverters, Battery Chargers, SMU (Solar Management Unit), Solar Charge Controllers, Batteries, enabling us to accommodate all the needs of our customers up to their full satisfaction. We have highly efficient products to cater the rising demands of lift/elevator UPS and backup systems.    
                </p>


            </div>
            <div class="col-lg-5" style="min-height: auto; width: auto; background-color:#181d38;">
                <div class="position-relative h-100">
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s"
                            style="width: 300px; "> > Grid Solar Inverter Heliac  </a>
                    </div>
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                            data-wow-delay="0.6s" style="width: 300px;"> > Solar PCU Alfa Online PCU</a>
                    </div>
                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s"
                            style="width: 300px;"> > On Grid Solar Inverter (String Solar)</a>
                    </div>

                    <div>
                        <a routerLink="" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn"
                            data-wow-delay="0.6s" style="width: 300px;"> > Hybrid Solar Inverter (Sigma+ PCU)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <h6 class="section-title bg-white text-center text-primary px-3">Benefits of UTL Solar</h6>
</div>
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="section-title2 mb-4">

                    <h3 class=" mb-0">&nbsp;&nbsp;&nbsp;&nbsp; Advantages of a UTL Solar.</h3>
                </div>
                <p class="mb-4" style="text-align: justify; font-size: medium;">The term "UTL Solar Advantage" refers to the benefits or advantages of UTL (Universal Technical Systems) Solar products, which include solar panels, inverters, batteries, and other solar energy solutions. UTL is a well-known brand in the renewable energy industry, and their solar products are designed to offer various advantages, such as:

                  <br> <b> 1. *High Efficiency*:</b> UTL solar panels and systems are known for their high efficiency, allowing them to convert more sunlight into electricity.
                    
                   <br> <b> 2. *Durability*:</b> UTL solar products are built to last, with strong construction that can withstand various weather conditions, ensuring long-term reliability.
                    
                  <br> <b>  3. *Cost-Effective*:</b> UTL offers affordable solar solutions with competitive pricing, making solar energy accessible to a wider audience.
                    
                  <br> <b>  4. *Warranty and Support*:</b>UTL typically provides warranties on their solar products, as well as customer support, ensuring that users have assistance if any issues arise.
                    
                    </p>
                    <div style="width: 40%;"  class="service-item text-center pt-3 ">
                        <a class=""  href="https://wa.me/918888232345?text=Hello www.solarwalaa.com, i have a query" target="_blank">
                            <div   class="p-4  ">
                                
                                <h5 class="mb-3  " > <i class="fab fa-whatsapp  "> </i> Whatsapp us Now</h5>
                            </div>
                        </a>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-3">
                    <div style="display: flex;" class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img style="width: auto;" class="img-fluid hig" src="assets/img/utl3.webp" alt="">

                        </a> 
                   

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">UTL String (Grid-tied) Solar Panel.</h6>
             <h4>UTL Solar Products.</h4>
            
           
        </div> <br> <br>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/utl4.webp" alt=""   ></a>
                    <div class="p-4"   >
                        
                        <h5 class="mb-3">Can I use 5kW UTL inverter for three phases?</h5>
                        <p>
                            
                            Yes, 5kW UTL inverters are available in three-phase. </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/utl5.jpg" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">How many technologies are available in UTL solar panel?</h5>
                        <p>
                           
                            UTL manufacture polycrystalline and monocrystalline solar panels.</p> </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/utl6.webp" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3"> How much power does UTL 5kW solar system produce?</h5>
                        <p>
                            
                           
                            A 5kW solar system will generate approximately 20 units per day.</p> </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/utl7.avif" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3"> Why should I buy UTL Solar?</h5>
                        <p>
                           
                           
                            Do you know the biggest reason behind failure of any solar system?Why should you buy UTL solar onlyThe assembly of the system with different brands....</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>



  
</div>