<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Solar Lights</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                       
                        <li class="breadcrumb-item text-white active" routerLink="/">Products / Solar Lights</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Solar Lights</h6> <br> <br>
            
        </div>
        <div class="row g-3">
            <div class="col-lg-5 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img class="img-fluid" src="assets/img/dj1.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img style="height:143px;" class="img-fluid" src="assets/img/dj7.jpg" alt="">
                           
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dj3.jpeg" alt="">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden">
                    <h4 class="mb-5"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We believe in harnessing the power of the sun to create a cleaner, greener, and more sustainable future. </h4>
                    <p class="mb-4 " style="color: #52565b; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Solar lights are a type of outdoor lighting that harnesses solar energy to power the light fixtures. They consist of a solar panel, a battery, and a light-emitting source such as LEDs. Solar panels capture sunlight during the day and convert it into electrical energy, which is stored in the battery. As night falls, the stored energy powers the LED lights, illuminating gardens, pathways, driveways, and other outdoor areas.

                        One of the key benefits of solar lights is their sustainability. Since they rely on renewable energy from the sun, they help reduce electricity consumption and lower carbon footprints. Additionally, solar lights are easy to install as they do not require wiring or a connection to the electrical grid. This makes them a popular choice for eco-conscious homeowners and businesses.
                        
                        Solar lights come in various styles, including floodlights, spotlights, garden lights, and decorative string lights. They are durable, weather-resistant, and require minimal maintenance, making them a cost-effective and long-lasting lighting solution.</p>
                
                        <p class="m-0">Overall, solar lights offer an environmentally friendly, energy-efficient, and affordable option for lighting outdoor spaces.</p>

                  
                    
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Types of Solar Lights</h6>
            <h4>Four Types of Solar Light.</h4>
            
           
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/dj5.jpg" alt=""   ></a>
                    <div class="p-4"   >
                        
                        <h5 class="mb-3" >Solar Garden Lights</h5>
                        <p>Solar garden lights are often used for landscaping, adding beauty and elegance to gardens, lawns, or flower beds. </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/dj4.jpg" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">Solar Pathway Lights</h5>
                        <p>Pathway lights are ideal for guiding people safely at night, ensuring that they can navigate paths without stumbling.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/dj2.jpg" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">Solar Spotlights</h5>
                        <p>Solar spotlights are brighter than traditional solar lights and are used to highlight specific areas, like trees, statues, or architectural features of a home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                        <img class="img-fluid" src="assets/img/dj8.jpg" alt=""   ></a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">Solar Floodlights</h5>
                        <p>Solar floodlights are ideal for illuminating larger outdoor spaces, such as yards, driveways, or business premises.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="t">
    <h6 class="mb-4 section-title bg-white text-center text-primary px-3 ">Advantage Of SolarLight.</h6>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                
                
                <h5 class="mb-3">Environmentally Friendly</h5>
                        <p>Solar lights are powered by sunlight, a renewable resource, meaning they dont contribute to greenhouse gas emissions. </p>
                        <h5 class="mb-3">Energy Efficient</h5>
                        <p>Since solar lights operate using the sun's energy, they don't draw from the electrical grid, helping to reduce energy consumption.</p>
                        <h5 class="mb-3">Easy Installation</h5>
                        <p>Solar lights are straightforward to install. They don't require complicated wiring or professional installation. </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solar Garden Lights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solar Pathway Lights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solar Spotlights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solar Floodlights</p>
                    </div>
                    <div class="col-lg-10 col-sm-6 wow fadeInUp " data-wow-delay="0.3s">
                        <div  class="service-item text-center pt-3 m b">
                            <a class=""  href="https://wa.me/918888232345?text=Hello www.solarwalaa.com, i have a query" target="_blank">
                                <div   class="p-4 hi ">
                                    
                                    <h5 class="mb-3 hi " > <i class="fab fa-whatsapp  "> </i> Whatsapp us Now</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img class="img-fluid hig" src="assets/img/dj1.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dj4.jpg" alt="">
                           
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dj2.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dj9.avif" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dj6.webp" alt="">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/dj2.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            
            
        </div>
    </div>
</div>