 
        .card{
          
            height: 250px;
            background-color:whitesmoke;
            /* border: 2px solid red; */
        
        }
        .solarfuse{
            height: 400px;
            width: 1000px;
        }
       
        /* all big image */

        .bigimage{
         height: 400px;   
        }
        

         .second-right-image-size{
            margin-left: 100px;
        } 
        .height {
            height: 300px;
            width: 500px;
        }

        .hig{
            height: 300px;
        }
        

    
     

         
       
        