<div class="container-fluid bg-primary py-5 mb-5 page-header ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Fuse Spd Mcb</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                        <li class="breadcrumb-item text-white active" routerLink="AcdbDcdb">Product / Fuse Spd Mcb</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- first headding  -->
<!-- first image  -->
<div class="container ">
    <div class="row">
        <div class="text-center wow fadeInUp " data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse | lowercase}}</h6>
            <h4 class="text-primary ">Products</h4>

        </div>
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse1.png" alt="">
                </div>
            </div>
            <div class=" card wow fadeInUp " data-waw-delay="0.3s">
                <p class="">An MCB (Miniature Circuit Breaker) is an automatically operated electrical switch designed
                    to protect an electrical circuit from damage caused by overload or short circuits. It is a safer and
                    more reliable alternative to traditional fuses.</p>
            </div>
        </div>

        <!-- second image -->

        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/fuse2.jpg" alt="">
                </div>
            </div>
            <div class="card mt-10 wow fadeInUp" data-waw-delay="0.3s">
                <p>A single-pole MCB is designed to protect a single-phase circuit (one live wire) from overcurrent
                    conditions, such as overloads and short circuits.
                    <br>It disconnects the live wire automatically when the current exceeds the rated value.
                </p>

            </div>
        </div>

        <!-- third image -->
        <div class="col-md-4 mt-10">
            <div class="team-item bg-light mt-10">
                <div class="overflow-hidden wow fadeInDown" data-wow-delay="0.3s">
                    <img class="img-fluid height " src="assets/dcdbimage/image8.jpg" alt="">
                </div>

            </div>
            <div class=" card wow fadeInRight text-justify" data-wow-delay="0.3s">
                <p>An auxiliary contact is an additional component that attaches to a main circuit breaker (MCB) or
                    residual current device (RCD/RCCB). <br>
                    Its primary function is to provide a secondary signaling function or control, such as remote
                    monitoring, switching, or status indication of the main circuit breaker.</p>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <br><br><br>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components and Features:</h4>
        </div>
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden wow fadeInLeft " data-wow-delay="0.3s">

                    <img class="img-fluid bigimage " src="assets/dcdbimage/image6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-7 wow fadeInRight" data-wow-delay="0.3s">

            <h5>Control Panel:</h5>
            <li>The upper section has switches, displays, and controls for managing the system.</li>
            <li><b>Digital Display:</b> Shows parameters like input/output voltage, frequency, and current.</li>
            <li><b>Control Buttons:</b> For starting/stopping the unit and setting parameters.</li>
            <li><b>Indicators:</b> Lights or alarms for system status (e.g., overload, fault).</li>
            <h5>Cooling Vents:</h5>
            <li>Located on the sides and front (lower section).</li>
            <li>Prevents overheating by allowing proper airflow.</li>
            <h5>Wheels:</h5>
            <li>At the bottom for mobility, making it easy to move to different locations.</li>
            <h5>Cabinet Enclosure: </h5>
            <li>Provides protection for internal components against dust and physical damage.
            </li>
            <li>May include safety features like locks or warning labels.
            </li>

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-10">
        <br><br><br>
        <div class="text-center wow fadeInUp " data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components:</h4>

        </div>
        <div class="col-md-7">

            <h4>Role in Solar Systems:</h4>
            <p>The ACDB is a critical part of solar power installations. After the DC energy from solar panels is
                converted into AC by the inverter, the ACDB ensures safe distribution of this power to the load
                (appliances or grid). It protects the system and enhances operational safety.</p>
            <h4>MCBs (Miniature Circuit Breakers):</h4>
            <li>Located on the right-hand side.</li>
            <li>These are safety devices designed to protect the electrical circuit from overloads or short circuits.
            </li>
            <li>Each MCB is rated for a specific current (measured in Amps, e.g., 10A, 16A, etc.).
                They ensure safe disconnection in case of a fault.</li>
            <li>They ensure safe disconnection in case of a fault.</li>
            <h4>Isolators (Rotary Switches):</h4>
            <li>Seen on the left-hand side (black rotary handles).
            </li>
            <li>These are used to manually disconnect the electrical supply for maintenance or emergencies.
            </li>
            <li>Each switch indicates its rated capacity (e.g., 63A or 40A).
            </li>
        </div>
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden wow fadeInUp " data-waw-delay="0.3s">

                    <img class="img-fluid bigimage second-right-image-size " src="assets/dcdbimage/fuse6.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-4">
        <div class="text-center wow fadeInUp " data-wow-delay="0.1s">

            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">Key Components and Features
            </h4>

        </div>
        <div class="col-md-12 text-center">
            <div class="team-item big-light">
                <div class="overflow-hidden wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid bigimage  " src="assets/dcdbimage/fuse3.jpg" alt="">

                </div>
                <div class="team-item big-light">
                    <div class="overflow-hidden wow fadeInLeft" data-wow-delay="0.3s">
                        <h4>Line (L) and Neutral (N) Connections:</h4>
                        <p>Located at the left-hand side of the assembly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br><br><br>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3"> {{fuse}}</h6>
            <h4 class="text-primary ">General Description:</h4>
        </div>
        <div class="col-md-5">
            <div class="team-item big-light mt-10">
                <div class="overflow-hidden wow fadeInLeft " data-wow-delay="0.3s">

                    <img class="img-fluid bigimage solar-fuse" src="assets/dcdbimage/solarfuse.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-7 wow fadeInRight" data-wow-delay="0.3s">

            <h5>Control Panel:</h5>
            <li><b>Type:</b> RT18-32 Fuse Holder</li>
            <li> <b>Voltage Rating:</b> 380/500V</li>
            <li><b>Current Rating:</b> 32A</li>
            <li> It is used to house and secure cylindrical fuses (10x38 mm in this case) designed for circuit
                protection in PV systems.
            </li>
            <h5>Key Features:</h5>
            <li> <b>Compact Design:</b> The small and modular design is ideal for mounting on DIN rails, saving space in
                PV distribution boxes.</li>
            <li> <b>Indicator Window:</b> Includes a visible red window to indicate fuse status (blown fuse detection).
            </li>
            <li><b> High Safety Standards:</b> Designed to handle the demanding environment of solar DC circuits,
                including high voltage and continuous current loads.
            </li>
            <h5>Function in Solar PV Systems: </h5>
            <li> <b>Overcurrent Protection:</b> Safeguards solar panels, inverters, and wiring from damage due to short
                circuits or overloads.</li>
            <li> <b>Easy Replacement:</b> Fuses can be replaced without dismantling the entire holder, ensuring quick
                maintenance.</li>
            <li><b>Reliable Operation: </b>Designed to endure DC voltage stress and environmental conditions specific to
                solar installations.</li>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/dcdbimage/solarfuse.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4 hig" >
                         
                        <small>  MC4 Connectors: The ends of the inline fuse assembly are fitted with MC4-compatible connectors for easy integration with solar cables.</small>
                        <small>Fuse Cartridge: The cylindrical fuse is placed inside the holder and acts as the overcurrent protection element.</small>
                        <small>Fuse Holder (Body): Protects the fuse cartridge and ensures secure electrical contact while being weather-resistant.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light"  >
                    <div class="overflow-hidden">
                        <img class="img-fluid"src="assets/dcdbimage/mcb3.webp" alt="">
                    </div>
                    
                    <div class="text-center p-4 hig">
                       
                        <small> This is a 3-pole MCB used for overcurrent protection in solar PV systems.
                            Branding and Type: Though branded, such MCBs are commonly available from various manufacturers with similar designs.
                            Manual Switching: The black toggles allow manual switching of the connected circuit (ON/OFF).</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light" >
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/dcdbimage/solarinlinefuse.jpg" alt="">
                    </div>
                    
                    <div class="text-center p-4 hig">
                         <small>  A solar inline fuse is a cylindrical fuse enclosed within a protective housing, often paired with connectors such as MC4 for easy integration into solar systems. It is used to interrupt the flow of electrical current when it exceeds the fuse's rating, preventing damage to components like solar panels, inverters, or batteries.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/dcdbimage/solarlight.jpeg" alt="">
                    </div>
                    
                    <div class="text-center p-4 hig">
                         <small>  A solar light is a lighting system that operates using solar energy, making it an eco-friendly and cost-effective solution for illumination. It is widely used for residential, commercial, and industrial purposes, especially in areas with limited access to grid electricity.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>