<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">DC-Wire</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                        
                        <li class="breadcrumb-item text-white active" routerLink="/">Product / DC-Wire</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">DC-Wire</h6>
            <h3 class="mb-5"> Here are some basic facts about direct current (DC) wires: </h3>
        </div>
        <div class="row g-3">
            <div class="col-lg-5 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img class="img-fluid" src="assets/img/dc4.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img style="height:170px;" class="img-fluid" src="assets/img/dc2.avif" alt="">
                           
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dc3.jpg" alt="">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden">
                    <p class="mb-4 " style="color: #52565b; text-align: justify;">DC wires are power cables that transmit and distribute direct current. They are used in many applications, including renewable energy systems, electric vehicles, and portable electronics. 
                        &nbsp;&nbsp;&nbsp;&nbsp; How they work
                        DC wires have a simple construction with positive and negative poles. They are designed to have a soft multi-strand core, good electrical conductivity, and heat resistance.
                        How they compare to AC wires
                        DC wires are generally more flexible and easier to install than alternating current (AC) wires. <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;They are also more resistant to voltage drop and have lower line losses. 
                        How they are used
                        DC wires are used in many applications, including:
                        Solar photovoltaic panels 
                        Wind turbines 
                        Electric vehicles 
                        Portable electronics 
                        Household appliances 
                        Consumer electronics 
                        How they are connected
                        DC cables require a converter station at both ends of the link to convert direct current into alternating current and vice versa. 
                        How they are installed
                        DC cables can be used for flexible and fixed installations indoors and outdoors. They are easy to install and maintain. DC wiring refers to the system of electric wiring that is designed to carry direct current (DC) electrical power. Direct current is the flow of electric charge in one particular direction, whereas alternating current (AC) changes direction periodically.
                        </p>
                        <p class="m-0">DC power cables (direct current transmission) are designed with a soft multi-strand core, good electrical conductivity, heat resistance, and usually have two insulation, and do not have surface effects like alternating current.</p>

                   
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Solar DC Wires </h6>
           <h4>Solar DC cables have many specifications, including: </h4>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                        
                    </a>
                    <div class="p-4"   >
                        
                        <h5 class="mb-3" >Voltage
                            </h5>
                        <p>The voltage rating for a solar DC cable may be 1.5 (1.8) KV DC or 0.6 / 1.0 (1.2) KV AC. </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                        
                    </a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">Temperature
                            </h5>
                        <p>The ambient temperature for a solar DC cable may be -40°C to +90°C. The maximum conductor temperature may be 120°C.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3" >
                    <a class="position-relative d-block overflow-hidden" >
                       
                    </a>
                    <div class="p-4">
                        
                        <h5 class="mb-3">Resistance
                           </h5>
                        <p>Solar DC cables should be resistant to weather, UV rays, mineral oils, chemicals, acids, and alkaline.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <a class="position-relative d-block overflow-hidden" >
                       
                    </a>
                    <div class="p-4">
                        
                        <h5 class="mb-3"> Bending radius</h5>
                        <p>The minimum bending radius for a solar DC cable may be 4 times the overall diameter.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <div style="text-align: center;">
    <h6 class="section-title bg-white text-center text-primary px-3">Solar DC Cable Identification </h6>
    <h4>For DC (direct current) wire identification:</h4>
 </div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                 
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               
               
            </div> <br>
                <h5 class="mb-3">Pulling force:</h5>
                        <p>The safe pulling force for a solar DC cable may be -50 N/sqmm. </p>
                        <h5 class="mb-3">Insulation resistance:</h5>
                        <p>The insulation resistance for a solar DC cable may be 1000 MΩ/km.</p>
                        <h5 class="mb-3">Spark test</h5>
                        <p>The spark test for a solar DC cable may be 6000 V AC(8000 V DC).
                            The size of the solar DC cable you need depends on the solar panel rating and the distance between the panels and loads. </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Solar photovoltaic panels</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Wind turbines</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Portable electronics</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Consumer electronics</p>
                    </div>
                    
                </div>
               
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden">
                            <img class="img-fluid hig" src="assets/img/dc5.webp" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dc1.jpg" alt="">
                           
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dc6.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dc7.jpg" alt="">
                            
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" >
                            <img class="img-fluid" src="assets/img/dc9.jpg" alt="">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/dc10.webp" alt="" style="object-fit: cover;">
                </div>
            </div>
            
            
        </div>
    </div>
</div>