/* Hero Section */
.hero {
    background: url('/assets/priti-img/lanew.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  /* Left-aligned headings (h2, h5) */
  h2, h5 {
    text-align: left;
  }
  
  /* Ensure the cards have equal height */
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Ensure images inside cards are the same size */
  .service-card-img {
    height: 250px;
    object-fit: cover;
  }
  
  /* Add consistent padding to the card body */
  .card-body {
    padding: 1.5rem;
    flex-grow: 1;
  }
  
  /* Hover effect for cards */
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Styling for buttons */
  .btn-lg {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Custom style for the contact section */
  .contact-btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  
  .contact-btn:hover {
    background-color: #45a049;
  }
  
  .text-tb{
    color: black !important;
  }
  
  .margin{
    margin-left: 5%;
  }
  
  .justify{
    text-align: justify;
  }
  
  .high{
    height: 250px;
  }
  
  .botto{
    width: 90%;
    border-radius: 10px;
  }

  .w3{
    width: 48%;
    height: 46%;
  
  }
  .w4{
    width: 48%;
    height: 46%;
    margin-left: 3%;
  }